.inicioB{
    margin-right: 10px;
    background-color: #A2A2A3;
    font-size: 1.2rem;
    
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 3%;
}

.inicioB:hover{
    background-color: #76c879;
    transition: background-color 0.3s;
    cursor: pointer;
}

.registroB{
    background-color: #A2A2A3;
    font-size: 1.2rem;
    padding: -10%;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 3%;
}

.registroB:hover{
    background-color: #3D49B6;
    transition: background-color 0.3s;
    cursor: pointer;
}

.contenedor{
    border: 3px solid #000;
    border-radius: 5px;
    padding: 5%;
    margin-bottom: 20px;
    background-color: #e1e1e1;
    text-align: center;
    width: 300px;
}

h1{
    padding-bottom: 5%;
}
input{
    margin-top: 10px;
}

.botones{
    margin-top: 40px;
    padding: 0%;
}

.error{
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    color: rgb(116, 78, 32);
}

.error span{
    text-align: center;
    color: red;
}