<main>
    <div class="contenedor">
        <div class="img-ubicacion">
            <img src="../assets/images/ubicacion.png" alt="">
        </div>
        <div class="detalles">
            <li>
                <span class="info">
                    <i aria-hidden="true" class="fas fa-phone-alt"></i>
                </span>
                <span class="info">
                    (0223) 678 9012
                </span>
            </li>

            <li>
                <a href="">
                    <span class="info">
                        <i aria-hidden="true" class="fas fa-at"></i>
                    </span>
                    <span class="info">
                        informes@kerlibreria.com.ar
                    </span>
                </a>
            </li>
            <li>
                <span class="info">
                    <i aria-hidden="true" class="fas fa-search-location"></i>
                </span>
                <span class="info">
                    Buque Pesquero Dorrego N° 281
                </span>
            </li>
        </div>
    </div>
</main>