section{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}


.imagen-libro {
    width: 8rem;
    height: 12rem;
    margin-right: 30px;
}

.imagen-libro:hover{
    cursor: pointer;
}

.fila{
    vertical-align: text-top;
}

.informacion{
    vertical-align: top;
    text-align: justify;
    direction:ltr;
    width: 300px;
}


thead{
    width: none;
    height: none;
}


.contenedor-lista-fav{
    margin-bottom: 30px;
    margin-top:20px;

}

.eliminar{
    
    vertical-align: top;
    text-align: right;
    padding-left: 30px;
    
}

.botonElim{
    margin-top: 30px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: rgb(211, 56, 8);
    color: #fff;
    border:none;
    border-radius: 15px;
    
}

.botonElim:hover{
    cursor: pointer;
    background-color: rgb(165, 44, 8);
}
