a{
    padding: .5rem;
    cursor: pointer;
    color: #bebe82;
    border: 5px solid #5e6266;
    background-color: #5e6266;
    border-radius: 20px;
}
section{
    padding-left: 30rem;
    padding-right: 30rem;
}

.mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem;
    border: 5px solid #5e6266;
    background-color: #a6acb4;
    color: white;
    border-radius: 20px;
}

@media (max-width:450px) {
    .mensaje{
        font-size: .8rem;
        padding: .5rem;
    }

    section{
        padding-left: 0rem;
        padding-right: 0rem;
    }

    a{
        padding: .2rem;
        font-size: .8rem;
    }
}

@media (min-width:450px){
    .mensaje{
        font-size: .8rem;
        padding: .5rem;
    }

    section{
        padding-left: 0rem;
        padding-right: 0rem;
    }

    a{
        padding: .2rem;
        font-size: .8rem;
    }
}

@media (min-width:800px){
    .mensaje{
        font-size: 1rem;
        padding: .5rem;
    }

    section{
        padding-left: 7rem;
        padding-right: 7rem;
    }

    a{
        padding: .2rem;
        font-size: .8rem;
    }
}

@media (min-width:1165px){
    .mensaje{
        font-size: 1rem;
        padding: .5rem;
    }

    section{
        padding-left: 20rem;
        padding-right: 20rem;
    }

    a{
        padding: .2rem;
        font-size: .8rem;
    }
}
