<main class="principal">
    <app-navbar></app-navbar>
    <section>
        <div class="mensaje">
            <h2>!!!!Muchas gracias por su compra!!!</h2>
            <h3>Su pedido le llegara en los proximos dias.</h3>
            <h3>Esperamos de que disfrute de su compra</h3>
            <h4>Puede volver a la <a (click)="volverAlHome()">Pagina principal</a> para seguir explorando mas libros</h4>
        </div>
    </section>
    <div class="footer">
       <app-footer></app-footer> 
    </div>
</main>