.campo{
    display: flex;
}

.campo label{
    flex-basis: 10rem;
}

.campo input[type="text"],
.campo input[type="number"],
.campo input[type="date"]
{
    margin-bottom: 1rem;
    width: 100%;
    border: .8px solid #e1e1e1;
}

.campo input[type="submit"]{
    margin-bottom: 1rem;
    border: .8px solid #e1e1e1;
}
.seccion{
    width: 50%;
    margin: 0 auto;
    background-color: beige;
    padding: 1rem;
}

.seccion fieldset{
    border: .8px solid #e1e1e1;
}
.error{
    background-color: rgb(216, 206, 206);
    color: rgb(116, 78, 32);
}

main{
    background-image: url(src\assets\images\libros-antiguos-2644117.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

legend{
    text-align: center;
    margin: 1rem;
    font-size: larger;
}

.error span{
    text-align: center;
    color: red;
}

.formulario div{
    display: flex;
    justify-content: space-between;
    margin: .5rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.editar,
.cancelar{
    background-color: #e1e1e1;
    border: none;
    width: 60%;
}

.editar:hover{
    transition: .3s;
    background-color: rgb(133, 198, 68);
    color: #fff;
}
.cancelar:hover{
    transition: .3s;
    background-color: red;
    color: #fff;
}

@media (max-width:900px) {
    .seccion{
        width: 90%;
    }
    label{
        font-size: .9rem;
    }
}

@media (max-width:450px){
    .seccion{
        width: 90%;
    }
}