<footer class="pie-de-pagina">
    <div class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <h3 class="titulos">KER LIBRERIA</h3>
                <div class="links">
                    <a href="/contacto">Locales</a>
                    <a href="/en-construccion">Franquicias</a>
                    <a href="/en-construccion">Políticas de privacidad</a>
                    <a href="#" routerLink="/login-admin">Acceso</a>
                </div>
            </div>
            <div class="footer-column">
                <h3 class="titulos">GUÍA DE COMPRA</h3>
                <div class="links">
                    <a href="/en-construccion">Preguntas frecuentes</a>
                    <a href="/en-construccion">Promociones para las sucursales</a>
                    <a href="/en-construccion">Costos y tiempos de envío</a>
                    <a href="/en-construccion">Devoluciones</a>
                    <a href="/en-construccion">Cancelaciones</a>
                </div>
            </div>
            <div class="footer-column">
                <h3 class="titulos">PRODUCTOS</h3>
                <div class="links">
                    <a href="/libros">Libros por Genero</a>
                </div>
            </div>
            <div class="footer-column">
                <h3>CONTACTANOS</h3>
                <div class="links">
                    <a href="/en-construccion">Trabajar con nosotros</a>
                    <a href="/contacto">Consultas</a>
                </div>
            </div>
        </div>
    </div>
</footer>
